#placar, #acoes {
    box-shadow: 0 0 10px #00000090;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

#jogador, #monstro {
    width: 50%;
    float: left;
}

#placar::after {
    content: "";
    clear: both;
    display: table;
}

#placar label {
    display: block;
    text-align: center;
    font-size: 20pt;
    margin: 10px;
}

.progresso {
    background-color: green;
    height: 20px;
    margin: 30px;
}

.progresso-porc {
    text-align: center;
    margin-top: -20px;
}

#acoes {
    text-align: center;
}

#acoes button {
    margin: 5px;
    text-transform: uppercase;
    font-size: large;
}